

/* colors:
light green : #7ed56f
medium green : #55c57a
dark green: #28b485 */


/* basic reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
/* for using the relative unit: 1rem = 10px */
html{
    font-size: 62.5%;
}

/*projectwise font definition goes to body, which gets inherited */
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 1.5rem;
    box-sizing: border-box; 

}

.header{
    height: 95vh;
    background-image: linear-gradient( to right bottom,#7ed56f9a, #28b48594 ) , url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
}

.header__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
    animation: logoAnimation 2s ease-in-out;
}

.header__logo{
    height: 3.5rem;
}
.header__text-box{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
}
.heading-primary--main{
    display:block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 2s ease-in-out;
    animation-delay: .5s;
    animation-fill-mode: backwards;

}
.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 2s ease-in-out;
    animation-delay: .5s;
    animation-fill-mode: backwards;

}


@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-20rem);
    }
    80%{
        opacity: .8;
        transform: translateX(5rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(20rem);
    }
    80%{
        opacity: .8;
        transform: translateX(-505rempx);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes logoAnimation{
    0%{
        opacity: 0;
        transform: translateY(-10rem);
    }
    80%{
        opacity: .8;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btnAnimation{
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    80%{
        opacity: .8;
        transform: translateY(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn{

}

.btn:link, .btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 2.5rem;
    transition: .2s all ease-in-out;
    position: relative;
    font-size: 1.6rem;
}
.btn:hover{
    transform: translateY(-4px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn--white{
    background-color: #fff;
    color: #777;    
}

.btn::after{
    content: "";
    display:inline-block;
    height: 100%;
    width: 100%;
    border-radius: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .4s all;

}
.btn--white::after{
    background-color: #fff;
}
.btn:hover::after{
    transform: scale(5, 1.4);
    opacity: 0;
}

.btn--animated{
    animation: btnAnimation 1s ease-out .75s;
    animation-fill-mode: backwards;
}   


/* ABOUT SECTION */
.about{
  margin-top: -25vh;
  background-color: #f7f7f7;
  padding-top: 35vh;
  padding-bottom: 35vh;;
}
.u-center-text{
    text-align: center;
}
.heading-secondary{
    
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image:  linear-gradient( to right ,#7ed56fe1, #28b485cc );
    display: inline-block;
    -webkit-background-clip: text;
    color:transparent;
    transition: all .2s;
    letter-spacing: 2px;
    margin-bottom: 8rem;
}
.heading-secondary:hover{
    transform: skew(15deg, 2deg);
    text-shadow: .5rem  1rem 2rem  rgba(0, 0, 0, .2);
}
.row{
   
   
    width: 114rem;
    content: "";
    display: table;
    clear: both;
    margin: 0 auto;
    
}

.col-1-of-2{
  width:54.4rem;
  float: left;
  
}

.col-1-of-2:not(:last-child){
    margin-right:5rem;
}
.col-1-of-4{
    width: 24.7rem;
    float:left;
}

.col-1-of-4:not(:last-child){
    margin-right:5rem;
}

.col-1-of-3{
    width: 30%;
    float:left;
    
}

.col-1-of-3:not(:last-child){
    margin-right:5%;
}
.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

}
.paragraph{
    font-size: 1.6rem;

}
.paragraph:not(:last-child){
    margin-bottom: 3rem;
}
.btn-text:link, .btn-text:visited{
    font-size: 1.6rem;
    text-decoration: none;
    color: #28b485;
    border-bottom: 2px solid #28b485;
    padding: 5px;
    transition: all .2s;
}
.btn-text:hover{
    background-color:#28b485 ;
    color: #fff;
    transform: translateX(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
.btn-text:active{
   
    transform: translateX(-2px);
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, .5);
}

.composition{
    position: relative;
}
.composition__photo{
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .5);
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}
.composition__photo:hover{
    transform: scale(1.25);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, .5);
    z-index: 3;
    outline: 1.5rem solid #28b485 ;
    outline-offset: 2rem;
    transform: translateY(-1rem);
}
.composition:hover .composition__photo:not(:hover){
    transform: scale(.8);
}

.composition_photo--p1{
    left: 0;
    top: -2rem;
}
.composition_photo--p2{
    right: 0;
    top: 2rem;    
}
.composition_photo--p3{
    left: 20%;
    top: 10rem;   
}

/* FEATURES SECTION */

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient( to right bottom,#7ed56f9a, #28b48594 ) , url('../img/nat-4.jpg');
    background-size: cover;
    clip-path: polygon(0 15vh, 100% 0, 100% 85vh, 0 100%);
    margin-top: -25vh;
}
.feature-box{
    background-color: rgba(255, 255, 255, .8);
    font-size: 1.5rem;
    padding-top: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .5);
    transition: all .2s;
}
.feature-box:hover{
    transform:translateY(-1.5rem) scale(1.1);
    box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, .4);
}
.feature-box__icon{
    font-size: 6rem;
    margin-bottom: .5rem;
   
    background-image:  linear-gradient( to right ,#7ed56fe1, #28b485cc );
    display: inline-block;
    -webkit-background-clip: text;
    color:transparent;
}
.feature-box__text{
    padding-bottom: 3rem;
}

/* SECTION TOURS  */
.section-tours{
    background-color: #f7f7f7;
    margin-top: -30vh;
    padding-top: 32vh ;
    
}
.card{
     height: 52rem;
     background-color: #fff;
     box-shadow: 0 .5rem 2.5rem rgba(0, 0, 0, .3);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}


.card__picture{
    background-size: cover;
    height: 23rem;
    background-blend-mode: multiply;
    clip-path: polygon(0 0 , 100% 0, 100% 85%, 0 100%);
}
.card__picture--1{
    
    background-image:linear-gradient( to right ,#ffb900, #ff7730 ) ,url(../img/nat-5.jpg);
   
}
.card__picture--2{
    
    background-image: url(../img/nat-6.jpg);
    background-image:linear-gradient( to right ,#7ed56fe1, #28b485cc ) ,url(../img/nat-6.jpg);

}
.card__picture--3{
    
    
    background-image:linear-gradient( to right ,#2998ffc0, #5543fabb ) ,url(../img/nat-7.jpg);
}
.card__heading{
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    display: inline;
    position: absolute;
    top: 12rem;
    right:2rem;
    text-align: right; 
    z-index: 5;
    
}
.card__heading-span{
    padding:1rem 1.5rem;
    box-decoration-break:clone ;
}
.card__heading-span--yellow{
    background: linear-gradient( to right ,#ffbb00c5, #ff7830c4 );
}

.card__heading-span--yellow:hover{
    background: linear-gradient( to right ,#ffbb00dc, #ff7830dc );
}
.card__heading-span--green{
    background: linear-gradient( to right ,#7ed56fe1, #28b485cc );
}
.card__heading-span--green:hover{
    background: linear-gradient( to right ,#7ed56fef, #28b485e7 );
}
.card__heading-span--blue{
    background: linear-gradient( to right ,#2998ffc0, #5543fabb );
}
.card__heading-span--blue:hover{
    background: linear-gradient( to right ,#2998ffe3, #5543fae3 );
}



.card__details{

}
.card__details ul{
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.card__details li{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}
.card__details li:not(:last-child){
    border-bottom: 1px solid #eee;
}
.card__details li:last-child{
    
    display: inline-block;
    margin-left: 15.5rem;
}
.btn-text{
    font-size: 1.6rem;
    text-decoration: none;
    padding: 5px;
    transition: all .2s;   
}
.btn-text:hover{
    
    color: #fff;
    transform: translateX(-2px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
.btn-text:active{
   
    transform: translateX(-2px);
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, .5);
}
.btn-text-orange{
    color: #ff7830dc;
    border-bottom: 2px solid #ff7830dc;
}
.btn-text-orange:hover{
    background: #ff7830dc;
    border-bottom: 2px solid #ff7830dc;
}
.btn-text-green{
    color:#28b485;
    border-bottom: 2px solid #28b485;
}
.btn-text-green:hover{
    background: #28b485;
    border-bottom: 2px solid #28b485;
}
.btn-text-blue{
    color:#5643fa;
    border-bottom: 2px solid #5643fa;
}
.btn-text-blue:hover{
    background: #5643fa;
    border-bottom: 2px solid #5643fa;
}



/*
#ffb900 - color orange light
#ff7730 = color orange dark

#2998ff color blue light
#5643fa color blue dark
*/

